*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    border:0
}
header{
    background-color: rgb(102, 237, 255);
	
}
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-family: Tahoma;
    font-size: 25px;
    color:#000;
}
#btnOne{
    background-color:rgb(102, 237, 255);
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

#tableHead{
    background-color:rgb(102, 237, 255);
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #ced4da;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}

#vehicle, #totalSpace{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 35px;
    border-color: #ced4da;
}